<main class="signup">


<section class="signup-scroll">
  <div class="frame">
    <div class="signup-track">
      <h1>Sign Up</h1>
    </div>
  </div>
</section>

<section class="signup-block">
  <img class="hello graphic" src="">
  {{!-- signup form --}}
  <form class="form signup-form">
    {{!-- username requirement --}}
    <div class="form-group">
      <label class="label" for="username-signup">Create Username:</label>
      <br>
      <input class="form-input" type="text" id="username-signup" placeholder="username"/>
      </div>
      {{!-- password requirement --}}
    <div class="form-group">
      <label class="label" for="password-signup">Create Password:</label>
      <br>
      <input class="form-input" type="password" id="password-signup" placeholder="password"/>
    </div>
    {{!-- signup button --}}
    <div class="form-group">
      <button class="btn signup-button" type="submit">Sign Up</button>
    </div>
    <div class="form-group">
      <a class="l-s-cta" href="/login">Log in</a>
    </div>
  </form>
</section>


</main>
<script src="./js/signup.js"></script>